  <style>
    body{
      background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

    }
    button {
      margin-left: 100px;
      font-family: 'Encode Sans SC', sans-serif;
      padding-top: 10px;
      background: none;
      border: none;
      cursor: pointer;
      color: aliceblue;
      font-size: larger;
    }

    #one {
      margin-left: 0px;
      background-color: rgb(255, 136, 0);
      position: fixed;
      top: 0px;
      left: 0%;
      right: 0%;
      height: 300px;
    }

    #two {
      margin-left: 0px;
      background-color: rgb(178, 24, 147);
      position: absolute;
      top: 300px;
      left: 0%;
      right: 0%;
      height: 300px;

    }
  </style>
